*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(/img/image\ 3.png);
    background-size:cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: grid;
    font-family: 'Inter', sans-serif;
    grid-template-rows: 135px 1fr 246px;
}

header{
    display: flex;
    background-color: black;
    align-items: center;
    gap: 60px;
}
.options{
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 48px;
    color: white;
}

.buttons{
    display: flex;
    gap: 70px;
}

.logo{
    margin-left: 10%;
    display: inline-flex;
    left: 120px;
}
.logo:hover{
    transform: scale(1.3);
}
.profile{
    display: inline-flex;
}
.vetor{
    position: absolute;
    left: 78%;
    right: 10%;
    top: 48px;
    bottom: 90%;
    width: 25px;
    height: 25px;
}
.perfil{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 85%;
    top: 7%;
}
.texto{
    position: absolute;
    width: auto;
<<<<<<< HEAD
    height: 50px;
    left: 150px;
=======
    height: auto;
    left: 130px;
>>>>>>> 3a7a1d9f5d87781c8ae0ca10552abded91ef262d
    top: 200px;
    
    font-family: 'Mr Bedfort';
    font-style: normal;
    font-size: 50px;
    color: white;
}

.textosecundario{
    position: absolute;
    width: 1000px;
    height: 42px;
    left: 100px;
<<<<<<< HEAD
    top: 50%;
    margin-left: 3%;
=======
    top: 500px;
    margin-left: 12%;
>>>>>>> 3a7a1d9f5d87781c8ae0ca10552abded91ef262d
    
    font-family: 'Rum Raisin';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 50px;
    
    color: #FFFFFF;
}
.pedidoretangulo{
    position: absolute;
    width: 900px;
    height: 20px;
    left: 70px;
    top: 30px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 70;
    font-size: 15px;

    color: #FFFFFF;
}
.retangulovermelho{
    position: absolute;
    width: 375px;
    height: 100px;
<<<<<<< HEAD
    left: 30px;
    top: 55px;
=======
    left: 50px;
    top: 200px;
    margin-left:22%;
>>>>>>> 3a7a1d9f5d87781c8ae0ca10552abded91ef262d
    
    background: #DB383D;
    border-radius: 25px;
}
.retangulovermelho:hover{
    transform: scale(1.1);
}
.retangulocesta{
    position: absolute;
    width: 90px;
    height: 90px;
    left: 995px;
    margin-right: 10%;
<<<<<<< HEAD
    top: 55px;
=======
    top: 210px;
    margin-left: 30%;
>>>>>>> 3a7a1d9f5d87781c8ae0ca10552abded91ef262d

    background: #FFFFFF;
    border-radius: 25px;
}

.cesta{
    background-image: url(/img/ph_basket.svg);
    position: absolute;
    width: 72px;
    height: 77px;
<<<<<<< HEAD
    top: 50px;
    margin-left: 100%;
=======
    top: 210px;
    margin-left: 63%;
>>>>>>> 3a7a1d9f5d87781c8ae0ca10552abded91ef262d
    
}
.cesta:hover{
    transform: scale(1.1);
}
.numerocesta{
    position: absolute;
    width: 35px;
    height: 34px;
    left: 10px;
    top: 5px;
}
.bolacesta{
    position: absolute;
    width: 30px;
    height: 30px;
    right: 55px;
    bottom: 55px;

    border-radius: 25px;

    background: #FF0000;
}
footer{
    position: absolute;
<<<<<<< HEAD
    width: auto;
=======
    width: 1000px;
>>>>>>> 3a7a1d9f5d87781c8ae0ca10552abded91ef262d
    height: 70px;
    left: 100px;
    top: 480px;
    
}
@media(max-width: 1024px){

}

 

@media(max-width: 767px) {
    header{
        height: 100px;
        width: 375px;
        gap: 15px;
        }
    
    .logo{
        height: 50px;
    }
    .options{
            gap: 5px;
            color: white;
            font-size: 8px;
    }
    .buttons{
        margin-bottom: auto;
        margin-left: auto;
    }
    .perfil{
        position: absolute;
        width: 35px;
        height: 35px;
        top: 35px;
        
    }
    .vetor{
    position: absolute;
    left: 75%;
    top: 40px;
    }
<<<<<<< HEAD
    
.texto{
    left: 40px;
    height: 50px;
    width: 325px;
}
.textosecundario{
position: absolute;
width: 400px;
height: 30px;
left: 40px;
=======
.texto{
    left: 125px;
}
.textosecundario{
    position: absolute;
width: 400px;
height: 30px;
left: 1px;
>>>>>>> 3a7a1d9f5d87781c8ae0ca10552abded91ef262d
top: 280px;

font-family: 'Rum Raisin';
font-style: normal;
font-weight: 5px;
font-size: 8px;

color: #FFFFFF
}
.retangulovermelho{
position: absolute;
width: 178px;
height:65px;
<<<<<<< HEAD
left: -5%;
top: 75px;
=======
left: -205px;
top: 10px;
>>>>>>> 3a7a1d9f5d87781c8ae0ca10552abded91ef262d

background: #DB383D;
border-radius: 25px;
}
.pedidoretangulo{ 
position: absolute;
width: 178px;
height:10px;
top: 20px;
left: 12px;


font-family: 'Montserrat';
font-style: normal;
font-size: 10px;

color: #FFFFFF;
}
<<<<<<< HEAD
.retangulocesta{
    left: 15%;
}
=======

>>>>>>> 3a7a1d9f5d87781c8ae0ca10552abded91ef262d
.cesta{
    position: absolute;
    width: 78px;
    height:78px;
    top: 10px;
<<<<<<< HEAD
    right: 100%;
=======
    left: 100px;
>>>>>>> 3a7a1d9f5d87781c8ae0ca10552abded91ef262d

    background: #FFFFFF;
    border-radius: 25px;
}
<<<<<<< HEAD

=======
>>>>>>> 3a7a1d9f5d87781c8ae0ca10552abded91ef262d
.cestaimg{
    height: 70px;
    width: 70px;
}
}